<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>
	input:focus, select:focus {
	  box-shadow: 0 0 5px #CCC !important;
	  border-color: #CCC !important; 
	}
</style>
<div id="slider_area" style="background-image: url('/header_bg.webp');">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2"></div>
        <div class="col-4 col-sm-4 col-md-4">
                <div class="slider_content">
                        <h1><%= t("landing.welcome").html_safe %></h1>
                        <p><%= t("landing.about").html_safe %></p>
                        <div class="row join_area">
                            <form name="form1" method="GET" action="/demo/demoHTML5.jsp" style="width: 100%;">
                                  <input type="hidden" name="action" value="create">
                                  <div class="col-8 col-sm-8 col-md-8 pr-0" style="display:inline-block;">
                                      <input type="username" name="username" placeholder="Enter Your Name">
                                  </div>
                                  <div class="col-4 col-sm-4 col-md-4 pl-0" style="display:inline-block; width: 30%;">
                                      <button type="submit">Joins, it free</button>
                                  </div>
                              </form>
                        </div>
                </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6"></div>
    </div>
</div>

<%= render "main/components/features_new" %>
